.int-bg{
    background: var(--cor-12) url('../../img/dec/bottom-left.svg') no-repeat bottom 160px left;
    box-shadow: inset 0 -120px var(--cor-0);
  }
  
  .int{
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
  }
  
  .int-conteudo{
    align-self: end;
    padding-bottom: 200px;
  }
  
  .int img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .int h1{
    margin-bottom: 32px;
  }
  
  .int p{
    margin-bottom: 20px;
  }
  
  @media (max-width:1200px){
    .int h1{
      font-size: 48px;
    }
    .int p{
      font-size: 18px;
    }
  }
  
  @media (max-width:800px){
    .int-bg{
      background: var(--cor-11);
      padding-top: 40px;
      box-shadow: inset 0 -60px var(--cor-0);
    }
    .int{
      grid-template-columns: 1fr;
      gap: 32px;
    }
    .int-conteudo{
      padding-bottom: 0px;
    }
    .int h1{
      margin-bottom: 16px;
    }
    .int img{
      height: 300px;
      width: 100%;
    }
  }